.main {
    border-bottom: 1px solid #e3ebf6;;
}
.heading {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #95aac9;
    letter-spacing: 1px;
}
.main-heading {
    font-size: 1.5rem;
}
.reportbtn {
    font-weight: 500;
    font-size: 15px;
    border-radius: 6px !important;
    color: #fff;
    background-color: #2c7be5;
    border-color: #2c7be5;
}
.reportbtn:hover {
    background-color: #3087f8;
    border-color: #3087f8;
    transform: translate3d(0,-3px,0)
}

.card-header {
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid #edf2f9;
}
.heading-1 { 
    font-size: 1.25rem;
    font-weight: 500;
}
.icon-size{
    font-size: 1.3rem;
    color: #95aac9!important;;
}
.badgestyle {
    color: #00d97e;
    background-color: #ccf7e5;
    font-weight: 500;
}
.badgestyle-1 {
    color: #6e84a3;
    background-color: #e2e6ed;
    font-weight: 500;
}
.exportbtn {
    border-color: #e3ebf6;
    letter-spacing: 0.7px;
    font-size: 0.8rem;
}
.table {
    font-size: 12.8px;
    color: #12263f;
    width: 100%;
    padding: 5px;
}
::-webkit-scrollbar {
    display: none !important;
}
.table thead {
    background-color: #dee2e6 !important;
}
.table thead th{
    font-weight: 500;
    font-size: 11px;
    color: #7fa5dc;
    letter-spacing: 0.3px;
}
.teamimages {
    z-index: 1;
    width: 1.7rem;
    height: 1.7rem;
    margin-left: -8px;
}
.teamimages:hover {
    z-index: 300;
    transform: 1;
}
.recent-active {
    width: 3rem;
    height: 3rem;
}
.yellow {
    color: #f6c343;
}
.green {
    color: #00d97e;
}
.red {
    color: #e63757;
}
/* .headstyle {
    color: #95aac9;
    font-weight: 400;
    font-size: 0.6rem;
} */

::placeholder {
    color:#95aac9;
    font-size: 0.9rem;
    font-weight: 400;
  }
  input:focus {
    outline: none;
  }
  .checkliststyle {
    color: #12263f;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .strikeoftext {
    text-decoration: line-through;
  }
  .checkstyle {
    width: 1rem;
    height: 1.20313rem;
  }
  .active-heading {
    color: #12263f;
    font-weight: 500;
    font-size: 1rem;
  }
  .active-data {
      font-size: 0.9rem;
      color: #6e84a3 !important;
      font-weight: 400;
  }
  .active-time {
      font-size: 0.8rem;
      color: #a6b5ca !important;
  }
  .dropdown-toggle::after {
    display:none;
}
/* Responsive */
@media screen and (max-width:1900px) {
    .rescol {
        padding-bottom: 15px;
    }
    .checklist-responsive {
        margin-top: 20px;
    }
    .checkliststyle {
        font-size: 0.8rem;
    }
}
@media screen and (max-width:900px) {
    .table {
        font-size: 8px;
    }
    .table thead th{
        font-weight: 400;
        font-size: 7px;
    }
}
